
.store-list {
    list-style: none; 
    padding: 0; 
  }
  
 
  .store-item {
    background-color: #f5f5f5; 
    border: 1px solid #ddd; 
    margin: 10px; 
    padding: 20px; 
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s; 
  }
  
  
  .store-item:hover {
    transform: scale(
      1.02
    ); 
  }
  
  
  .store-name {
    font-size: 24px; 
    margin: 10px 0; 
  }
  
 
  .store-description {
    color: black; 
  }
  
  
  .store-link {
    text-decoration: none; 
    color: rgb(248, 78, 78); 
    font-weight: bold; 
  }
  
  
  .store-link:hover {
    text-decoration: underline; 
  }
  